_Backup2018-04-06T12_47_01_flows_vps.json
[{"id":"509a5f92.8b12d","type":"tab","label":"GeyserWorx","disabled":false,"info":""},{"id":"3c8f616a.294aae","type":"tab","label":"MicroPower","disabled":false,"info":""},{"id":"52cf97d3.fb2f98","type":"tab","label":"Stacker","disabled":false,"info":""},{"id":"69f68a38.c261f4","type":"tab","label":"Wine Farm","disabled":false,"info":""},{"id":"4a5b36ea.ecf818","type":"tab","label":"System","disabled":false,"info":""},{"id":"a0ed22c6.6081a","type":"tab","label":"RemoteWorx Demo","disabled":true,"info":""},{"id":"13b639e7.6fc976","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0078a6","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Stacker","default":"#4B7930","baseColor":"#0076ae","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#0076ae","edited":false},"page-backgroundColor":{"value":"#f3f3f3","edited":true},"page-sidebar-backgroundColor":{"value":"#c0c0c0","edited":true},"group-textColor":{"value":"#000040","edited":true},"group-borderColor":{"value":"#c0c0c0","edited":true},"group-backgroundColor":{"value":"#d7d7d7","edited":true},"widget-textColor":{"value":"#004080","edited":true},"widget-backgroundColor":{"value":"#0076ae","edited":false},"widget-borderColor":{"value":"#d7d7d7","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"SamWorx Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":4,"cy":4,"px":0,"py":0}}},{"id":"a36e95f5.15ce48","type":"mqtt-broker","z":"","broker":"samworx.dedicated.co.za","port":"1883","clientid":"SAMWORX","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"abc60f10.5abf3","type":"ui_tab","z":"","name":"GeyserWorx","icon":"fa-bath","order":4},{"id":"dc897abc.ba0f28","type":"ui_group","z":"","name":"Alarms","tab":"af6d67a3.8949c8","order":1,"disp":true,"width":"6"},{"id":"1666a2c5.bd82ad","type":"ui_group","z":"","name":"Limit Switches","tab":"af6d67a3.8949c8","order":2,"disp":true,"width":"6"},{"id":"eda022b.8b4d7e","type":"ui_group","z":"","name":"Status","tab":"af6d67a3.8949c8","order":3,"disp":true,"width":"6"},{"id":"e73bb05a.21343","type":"ui_group","z":"","name":"Metrics","tab":"af6d67a3.8949c8","order":4,"disp":true,"width":"6"},{"id":"af6d67a3.8949c8","type":"ui_tab","z":"","name":"Stacker 1","icon":"fa-cog","order":2},{"id":"811c2693.772b48","type":"ui_group","z":"","name":"Accumulators","tab":"af6d67a3.8949c8","order":5,"disp":true,"width":"6"},{"id":"899e281d.7e3508","type":"ui_group","z":"","name":"Simulation","tab":"af6d67a3.8949c8","order":6,"disp":true,"width":"6"},{"id":"fe145407.4a29d8","type":"ui_tab","z":"","name":"MicroPower","icon":"fa-tachometer","order":1},{"id":"b06272c2.acdec","type":"ui_group","z":"","name":"RemoteWorx","tab":"fe145407.4a29d8","disp":true,"width":"6"},{"id":"9bafe092.1b601","type":"ui_group","z":"","name":"Analogues","tab":"fe145407.4a29d8","disp":true,"width":"6"},{"id":"9eb2c3fd.3de52","type":"ui_group","z":"","name":"Outputs","tab":"fe145407.4a29d8","disp":true,"width":"6"},{"id":"6e6d940e.d4d90c","type":"ui_group","z":"","name":"Inputs","tab":"fe145407.4a29d8","disp":true,"width":"6"},{"id":"137acb2b.02edd5","type":"ui_group","z":"","name":"Outputs","tab":"834acb33.147e48","order":1,"disp":true,"width":"6"},{"id":"b9c48501.571178","type":"ui_group","z":"","name":"DI","tab":"834acb33.147e48","disp":true,"width":"6"},{"id":"12a7094e.97eff7","type":"ui_group","z":"","name":"AI","tab":"834acb33.147e48","disp":true,"width":"6"},{"id":"3a0143bf.3078cc","type":"ui_group","z":"","name":"Siimulate","tab":"834acb33.147e48","disp":true,"width":"6"},{"id":"834acb33.147e48","type":"ui_tab","z":"","name":"Demo","icon":"fa-cogs","order":6},{"id":"7b203803.13cf98","type":"ui_group","z":"","name":"Weather","tab":"abc60f10.5abf3","order":3,"disp":true,"width":"7","collapse":false},{"id":"2a6d5f5f.e6614","type":"ui_group","z":"","name":"Status","tab":"abc60f10.5abf3","order":2,"disp":true,"width":"7","collapse":false},{"id":"f80cafc3.97786","type":"ui_group","z":"","name":"KPI's","tab":"abc60f10.5abf3","order":1,"disp":true,"width":"7","collapse":false},{"id":"328691c1.b5995e","type":"ui_group","z":"","name":"Geyser Charts","tab":"abc60f10.5abf3","order":4,"disp":true,"width":"21","collapse":false},{"id":"668c9e9f.3436f","type":"ui_group","z":"","name":"Configuration","tab":"6fd5fb78.e4e344","order":1,"disp":true,"width":"6"},{"id":"6fd5fb78.e4e344","type":"ui_tab","z":"","name":"System","icon":"fa-microchip","order":5},{"id":"733536ea.5b39d8","type":"ui_tab","z":"","name":"Irrigation","icon":"call_split","order":3},{"id":"3575b82d.79d6d8","type":"ui_tab","z":"","name":"Wine Farm","icon":"dashboard"},{"id":"79f5ad3c.ac9194","type":"ui_group","z":"","name":"Tank 1","tab":"3575b82d.79d6d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ec832a0.aa4aae","type":"ui_group","z":"","name":"Tank 2","tab":"3575b82d.79d6d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6236f929.f052c8","type":"ui_group","z":"","name":"Pump 1","tab":"3575b82d.79d6d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a716abcd.935d58","type":"ui_group","z":"","name":"Reporting","tab":"3575b82d.79d6d8","disp":true,"width":"6","collapse":false},{"id":"8e15c7ef.aac558","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/Temperature","qos":"0","broker":"a36e95f5.15ce48","x":150,"y":100,"wires":[["370bc515.82274a"]]},{"id":"97af022e.5cd0f","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/Sts","qos":"0","broker":"a36e95f5.15ce48","x":110,"y":140,"wires":[["49a13df0.e177c4"]]},{"id":"370bc515.82274a","type":"function","z":"3c8f616a.294aae","name":"","func":"msg.payload = parseFloat(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["7933d6bf.7d3b78","2f5a41b8.d1869e"]]},{"id":"7933d6bf.7d3b78","type":"ui_chart","z":"3c8f616a.294aae","name":"","group":"b06272c2.acdec","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":690,"y":100,"wires":[[],[]]},{"id":"2f5a41b8.d1869e","type":"ui_text","z":"3c8f616a.294aae","group":"b06272c2.acdec","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":510,"y":100,"wires":[]},{"id":"99d20891.282488","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/VoltL1","qos":"0","broker":"a36e95f5.15ce48","x":130,"y":180,"wires":[["71ce240e.5e207c"]]},{"id":"1096fca5.559063","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/AI1","qos":"0","broker":"a36e95f5.15ce48","x":120,"y":220,"wires":[["1ec93ee5.c4c101"]]},{"id":"36bf3b90.e63734","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/DI","qos":"0","broker":"a36e95f5.15ce48","x":110,"y":380,"wires":[["3a3b60ef.45a03","2b3dc2e1.4da6ee"]]},{"id":"811168af.9ed1b8","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/AI2","qos":"0","broker":"a36e95f5.15ce48","x":120,"y":260,"wires":[["3a3b60ef.45a03","345b3a.7308a4c6"]]},{"id":"c95c47c.38315b8","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/AI3","qos":"0","broker":"a36e95f5.15ce48","x":120,"y":300,"wires":[[]]},{"id":"ee11c6bd.4db0a8","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/AI/AI4","qos":"0","broker":"a36e95f5.15ce48","x":120,"y":340,"wires":[[]]},{"id":"7307c69e.cd9ad8","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/DO","qos":"0","broker":"a36e95f5.15ce48","x":90,"y":740,"wires":[["3a3b60ef.45a03","e8ceb27b.0287b"]]},{"id":"3a3b60ef.45a03","type":"debug","z":"3c8f616a.294aae","name":"","active":false,"console":"false","complete":"false","x":370,"y":300,"wires":[]},{"id":"24d2e47a.5eec2c","type":"mqtt out","z":"3c8f616a.294aae","name":"","topic":"RW/Random","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":750,"y":560,"wires":[]},{"id":"32f49493.340d6c","type":"inject","z":"3c8f616a.294aae","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":130,"y":560,"wires":[["6014a4ad.3a9f9c"]]},{"id":"6014a4ad.3a9f9c","type":"random","z":"3c8f616a.294aae","name":"","low":"1","high":"100","inte":"true","x":400,"y":560,"wires":[["24d2e47a.5eec2c"]]},{"id":"11a958b.a6827a7","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"General Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>General Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":60,"wires":[["ad4f7bc8.aa6488"]]},{"id":"37d84c31.33f534","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"Tripper Car Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: red;}\n    i.on    {color: green;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Tripper Car Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":100,"wires":[["167177c0.15d248"]]},{"id":"4a222bf0.259c34","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"Cable Reel Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Cable Reel Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":140,"wires":[["84f12698.881f18"]]},{"id":"efa74251.c4748","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"Rail Clamps Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Rail Clamps Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":180,"wires":[["8d1bfd72.c4d8e"]]},{"id":"27810538.983eca","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"Hydraulic System Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Hydraulic System Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":310,"y":220,"wires":[["dadedb82.4ea708"]]},{"id":"8bd43b7.a3bb7c8","type":"ui_template","z":"52cf97d3.fb2f98","group":"dc897abc.ba0f28","name":"Boom Conveyor Alarm","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Boom Conveyor Alarm</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":260,"wires":[["9c341c68.7b4df"]]},{"id":"18a09d8e.c38782","type":"ui_template","z":"52cf97d3.fb2f98","group":"1666a2c5.bd82ad","name":"Travel Ultimate End","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Travel Ultimate End</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":320,"wires":[[]]},{"id":"ae08983a.7ddc28","type":"ui_template","z":"52cf97d3.fb2f98","group":"1666a2c5.bd82ad","name":"Stockpile Level HiHi","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Stockpile Level HiHi</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1280,"y":360,"wires":[[]]},{"id":"ab329a11.1f1828","type":"ui_template","z":"52cf97d3.fb2f98","group":"1666a2c5.bd82ad","name":"Luffing LoLo","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Luffing LoLo</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1250,"y":400,"wires":[[]]},{"id":"3686507d.b3211","type":"ui_template","z":"52cf97d3.fb2f98","group":"1666a2c5.bd82ad","name":"Luffing HiHi","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Luffing HiHi</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1250,"y":440,"wires":[[]]},{"id":"8a335200.97a96","type":"ui_template","z":"52cf97d3.fb2f98","group":"1666a2c5.bd82ad","name":"Boom Anti-Collision","order":1,"width":0,"height":0,"format":"<style>\n    i.off   {color: green;}\n    i.on    {color: red;}\n</style>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Boom Anti-Collision</p>\n    <p><i ng-class=\"{false:'fa fa-check-circle off', true:'fa fa-exclamation-circle on'}[(msg.payload || false)]\"></i></p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1270,"y":480,"wires":[[]]},{"id":"ff37d2bf.4fb5c","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":20,"wires":[]},{"id":"14a692cf.3aafdd","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"Auto Mode","payloadType":"str","repeat":"","crontab":"","once":true,"x":1090,"y":20,"wires":[["ff37d2bf.4fb5c"]]},{"id":"76ad81d.50bb58","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":3,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1290,"y":100,"wires":[]},{"id":"f4371c08.ef719","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":4,"width":0,"height":0,"name":"","label":"Stacking Rate","format":"{{msg.payload}} tph","layout":"row-spread","x":1300,"y":140,"wires":[]},{"id":"96b8b092.4ec54","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"5.3","payloadType":"num","repeat":"","crontab":"","once":true,"x":1090,"y":100,"wires":[["76ad81d.50bb58"]]},{"id":"a834c94c.348598","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":1090,"y":140,"wires":[["f4371c08.ef719","dbfe5ee2.d809c","8e138563.240b38"]]},{"id":"fde3b957.8af5a8","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":60,"wires":[]},{"id":"1c6c80ce.328b7f","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"Stopped","payloadType":"str","repeat":"","crontab":"","once":true,"x":1100,"y":60,"wires":[["fde3b957.8af5a8"]]},{"id":"dbfe5ee2.d809c","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":4,"width":0,"height":0,"name":"","label":"Luffing Position","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":180,"wires":[]},{"id":"8e138563.240b38","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":4,"width":0,"height":0,"name":"","label":"Slew Position","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":220,"wires":[]},{"id":"7266fc86.f7b184","type":"ui_text","z":"52cf97d3.fb2f98","group":"eda022b.8b4d7e","order":4,"width":0,"height":0,"name":"","label":"Travel Position","format":"{{msg.payload}} m","layout":"row-spread","x":1300,"y":260,"wires":[]},{"id":"9148f168.7253e","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"252","payloadType":"num","repeat":"","crontab":"","once":true,"x":1090,"y":180,"wires":[["7266fc86.f7b184"]]},{"id":"34df2035.3a6ec","type":"random","z":"52cf97d3.fb2f98","name":"","low":"20","high":"45","inte":"false","x":300,"y":360,"wires":[["36b5af9f.1fbd2","97faf0e5.b896d"]]},{"id":"41b1ca45.e4d354","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":130,"y":360,"wires":[["34df2035.3a6ec"]]},{"id":"36b5af9f.1fbd2","type":"ui_chart","z":"52cf97d3.fb2f98","name":"","group":"e73bb05a.21343","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"110","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#004080","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":710,"y":360,"wires":[[],[]]},{"id":"c008e589.f5c188","type":"ui_text","z":"52cf97d3.fb2f98","group":"e73bb05a.21343","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} C","layout":"row-spread","x":710,"y":400,"wires":[]},{"id":"97faf0e5.b896d","type":"smooth","z":"52cf97d3.fb2f98","name":"","action":"mean","count":"10","round":"1","mult":"single","x":500,"y":400,"wires":[["c008e589.f5c188"]]},{"id":"86982f15.6b822","type":"ui_text","z":"52cf97d3.fb2f98","group":"811c2693.772b48","order":1,"width":0,"height":0,"name":"","label":"Lube System","format":"{{msg.payload}} liter","layout":"row-spread","x":710,"y":460,"wires":[]},{"id":"4dd54265.17b6ec","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"23.7","payloadType":"num","repeat":"","crontab":"","once":true,"x":510,"y":460,"wires":[["86982f15.6b822"]]},{"id":"e18a9a2d.c65db8","type":"ui_text","z":"52cf97d3.fb2f98","group":"811c2693.772b48","order":1,"width":0,"height":0,"name":"","label":"Drives Run Hours","format":"{{msg.payload}} h","layout":"row-spread","x":730,"y":500,"wires":[]},{"id":"736445ac.f14afc","type":"ui_slider","z":"52cf97d3.fb2f98","name":"","label":"Run Hours","group":"899e281d.7e3508","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"1000","step":1,"x":590,"y":600,"wires":[["c94aa995.3707a8","e18a9a2d.c65db8","255e496b.a57ac6"]]},{"id":"67cd1b07.d2c194","type":"e-mail","z":"52cf97d3.fb2f98","server":"smtp.gmail.com","port":"465","secure":true,"name":"kemp@sam.co.za","dname":"","x":1010,"y":600,"wires":[]},{"id":"c94aa995.3707a8","type":"function","z":"52cf97d3.fb2f98","name":"","func":"if(msg.payload>=600)\n{\n    msg.topic = \"Stacker 1 Maintenance\";\n    msg.payload = \"Maintenance on Travel Drives Required!\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":770,"y":600,"wires":[["9ef39ff.16e1e6","67cd1b07.d2c194"]]},{"id":"fcf9dee0.c61e8","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"321","payloadType":"num","repeat":"","crontab":"","once":true,"x":510,"y":500,"wires":[["e18a9a2d.c65db8","736445ac.f14afc"]]},{"id":"9dbb1b54.c50678","type":"ui_text","z":"52cf97d3.fb2f98","group":"811c2693.772b48","order":1,"width":0,"height":0,"name":"","label":"Total Tonnage","format":"{{msg.payload}} t","layout":"row-spread","x":720,"y":540,"wires":[]},{"id":"eacee13.5cd6d2","type":"inject","z":"52cf97d3.fb2f98","name":"","topic":"","payload":"25148","payloadType":"num","repeat":"","crontab":"","once":true,"x":510,"y":540,"wires":[["9dbb1b54.c50678"]]},{"id":"b888a36.892a66","type":"ui_toast","z":"52cf97d3.fb2f98","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":510,"y":720,"wires":[]},{"id":"d93ca586.f48b28","type":"ui_button","z":"52cf97d3.fb2f98","name":"","group":"899e281d.7e3508","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm Notification","color":"","bgcolor":"","icon":"fa-bell-o","payload":"Limit Switch Alarm","payloadType":"str","topic":"Stacker 1","x":130,"y":760,"wires":[["8e21aad3.d8b538"]]},{"id":"48ff2308.03d77c","type":"ui_button","z":"52cf97d3.fb2f98","name":"","group":"899e281d.7e3508","order":4,"width":0,"height":0,"passthru":false,"label":"Problem Notification","color":"","bgcolor":"","icon":"fa-bell-o","payload":"General Alarm","payloadType":"str","topic":"Travel drive fault","x":140,"y":720,"wires":[["e9e40f49.7c3a4"]]},{"id":"5f024bd8.6a3dc4","type":"ui_button","z":"52cf97d3.fb2f98","name":"","group":"899e281d.7e3508","order":5,"width":0,"height":0,"passthru":false,"label":"Warning Notification","color":"","bgcolor":"","icon":"fa-bell-o","payload":"Low Flow Warning","payloadType":"str","topic":"Lubrication System","x":140,"y":680,"wires":[["a5e0d0dd.710ce"]]},{"id":"a5e0d0dd.710ce","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.highlight = \"Yellow\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["b888a36.892a66"]]},{"id":"e9e40f49.7c3a4","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.highlight = \"Orange\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["b888a36.892a66"]]},{"id":"8e21aad3.d8b538","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.highlight = \"Red\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":760,"wires":[["b888a36.892a66"]]},{"id":"255e496b.a57ac6","type":"ui_text_input","z":"52cf97d3.fb2f98","name":"","label":"Run Hours","group":"899e281d.7e3508","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":588,"y":639,"wires":[["736445ac.f14afc","c94aa995.3707a8"]]},{"id":"9ef39ff.16e1e6","type":"debug","z":"52cf97d3.fb2f98","name":"","active":true,"console":"false","complete":"false","x":990,"y":640,"wires":[]},{"id":"6def9505.47c79c","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"General Alarm","group":"899e281d.7e3508","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":60,"wires":[["11a958b.a6827a7"]]},{"id":"f904f7c9.dfe0f8","type":"function","z":"52cf97d3.fb2f98","name":"","func":"if(msg.payload===true)\n{\n    msg.topic = \"Stacker 1 Alarm\";\n    msg.payload = \"General Alarm Activated!\";\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":790,"y":60,"wires":[["67cd1b07.d2c194"]]},{"id":"debea48a.39d7a8","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":60,"wires":[[]]},{"id":"e95dce0a.4bead","type":"ui_chart","z":"52cf97d3.fb2f98","name":"","group":"dc897abc.ba0f28","order":0,"width":0,"height":0,"label":"Alarms","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":940,"y":260,"wires":[[],[]]},{"id":"9648d916.bb73e8","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"Tripper","group":"899e281d.7e3508","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":100,"wires":[["37d84c31.33f534"]]},{"id":"9a9d094b.1386f8","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"Cable Reel","group":"899e281d.7e3508","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":140,"wires":[["4a222bf0.259c34"]]},{"id":"f85a53cb.ce7bb","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"Rail Clamps","group":"899e281d.7e3508","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":180,"wires":[["efa74251.c4748"]]},{"id":"2ab7e697.a6fa9a","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"Hydraulics","group":"899e281d.7e3508","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":220,"wires":[["27810538.983eca"]]},{"id":"309e5585.53bfba","type":"ui_switch","z":"52cf97d3.fb2f98","name":"","label":"Boom Conv","group":"899e281d.7e3508","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":260,"wires":[["8bd43b7.a3bb7c8"]]},{"id":"f277f02b.fe714","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":100,"wires":[["7954fcb6.297b94"]]},{"id":"a296f1d4.50d62","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":140,"wires":[["ca87a522.d20328"]]},{"id":"b55ab1fe.183ec","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":180,"wires":[["cfeea100.e0dcb"]]},{"id":"d9f861a4.f53cf","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":220,"wires":[["9b8ab4.895b755"]]},{"id":"aa619dde.e13ab","type":"counter","z":"52cf97d3.fb2f98","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":660,"y":260,"wires":[["5c9b5ed1.0da36"]]},{"id":"7954fcb6.297b94","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.payload = msg.count;\nmsg.topic = \"Tripper\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["e95dce0a.4bead"]]},{"id":"ca87a522.d20328","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.payload = msg.count;\nmsg.topic = \"Cable Reel\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["e95dce0a.4bead"]]},{"id":"cfeea100.e0dcb","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.payload = msg.count;\nmsg.topic = \"Rail Clamps\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["e95dce0a.4bead"]]},{"id":"9b8ab4.895b755","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.payload = msg.count;\nmsg.topic = \"Hydraulics\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["e95dce0a.4bead"]]},{"id":"5c9b5ed1.0da36","type":"function","z":"52cf97d3.fb2f98","name":"","func":"msg.payload = msg.count;\nmsg.topic = \"Boom Conv\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["e95dce0a.4bead"]]},{"id":"9c341c68.7b4df","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":260,"wires":[["aa619dde.e13ab"]]},{"id":"dadedb82.4ea708","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":220,"wires":[["d9f861a4.f53cf"]]},{"id":"8d1bfd72.c4d8e","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":180,"wires":[["b55ab1fe.183ec"]]},{"id":"84f12698.881f18","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":140,"wires":[["a296f1d4.50d62"]]},{"id":"167177c0.15d248","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":100,"wires":[["f277f02b.fe714"]]},{"id":"ad4f7bc8.aa6488","type":"rising-edge","z":"52cf97d3.fb2f98","name":"Edge","threshold":"0.9","x":510,"y":60,"wires":[["debea48a.39d7a8","f904f7c9.dfe0f8"]]},{"id":"71ce240e.5e207c","type":"ui_text","z":"3c8f616a.294aae","group":"b06272c2.acdec","order":0,"width":0,"height":0,"name":"","label":"Mains Voltage","format":"{{msg.payload}} Vac","layout":"row-spread","x":380,"y":180,"wires":[]},{"id":"2f307e8c.fadac2","type":"ui_text","z":"3c8f616a.294aae","group":"9bafe092.1b601","order":1,"width":0,"height":0,"name":"","label":"Potentiometer","format":"{{msg.payload}} %","layout":"row-spread","x":720,"y":180,"wires":[]},{"id":"75d1b24b.e849ac","type":"ui_text","z":"3c8f616a.294aae","group":"9bafe092.1b601","order":3,"width":0,"height":0,"name":"","label":"Light Meter","format":"{{msg.payload}} %","layout":"row-spread","x":530,"y":260,"wires":[]},{"id":"49a13df0.e177c4","type":"ui_text","z":"3c8f616a.294aae","group":"b06272c2.acdec","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":140,"wires":[]},{"id":"456e6b46.2a7244","type":"ui_gauge","z":"3c8f616a.294aae","name":"","group":"9bafe092.1b601","order":2,"width":0,"height":0,"gtype":"gage","title":"Potentiometer","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":220,"wires":[]},{"id":"5b343f7c.48678","type":"ui_gauge","z":"3c8f616a.294aae","name":"","group":"9bafe092.1b601","order":4,"width":0,"height":0,"gtype":"wave","title":"Light Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":260,"wires":[]},{"id":"e8ceb27b.0287b","type":"function","z":"3c8f616a.294aae","name":"Multiplexer","func":"var p = parseInt(msg.payload);\nvar m = [];\nfor (var i=0; i<16; i++) {\n    // test top bit and set corresponding payload\n    m[i] = {payload: ((p & 0x8000) ? true : false) };\n    p = p << 1; // divide by two and keep as an integer\n}\n\nreturn m;","outputs":"16","noerr":0,"x":470,"y":740,"wires":[[],[],[],[],[],[],[],[],[],["626fbb24.027e64"],["b43ae260.a362b"],["80928e0b.61456"],["8d9e8505.69b508"],["e8959099.83595"],["5ac9ee0.b2c6e14","864e282e.b68f78"],["c6801bd0.2d0628"]]},{"id":"2b3dc2e1.4da6ee","type":"function","z":"3c8f616a.294aae","name":"Multiplexer","func":"var p = parseInt(msg.payload);\nvar m = [];\nfor (var i=0; i<16; i++) {\n    // test top bit and set corresponding payload\n    m[i] = {payload: ((p & 0x8000) ? true : false) };\n    p = p << 1; // divide by two and keep as an integer\n}\n\nreturn m;","outputs":"16","noerr":0,"x":550,"y":420,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],["9ba81656.bcf4a8"],["bee32fa2.ebf6e"],["8ead9d26.f6ca6"],["326d1896.a285b8","79d4b909.a41a38"]]},{"id":"a4657406.8c62d8","type":"mqtt in","z":"3c8f616a.294aae","name":"","topic":"RW/4070/#","qos":"0","broker":"a36e95f5.15ce48","x":100,"y":420,"wires":[[]]},{"id":"b34eb27b.6225a","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q1","group":"137acb2b.02edd5","order":1,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q1on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q1off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":1180,"wires":[[]]},{"id":"432803f9.12dd3c","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q2","group":"137acb2b.02edd5","order":2,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q2on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q2off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":1140,"wires":[[]]},{"id":"a65021de.19487","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q3","group":"137acb2b.02edd5","order":3,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q3on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q3off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":1100,"wires":[[]]},{"id":"a3e64d79.9e7d8","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q4","group":"137acb2b.02edd5","order":4,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q4on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q4off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":1060,"wires":[[]]},{"id":"61aca7b9.9d7598","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q5","group":"137acb2b.02edd5","order":5,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q5on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q5off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":1020,"wires":[[]]},{"id":"ae5f53a4.ccbe2","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Buzzer","group":"137acb2b.02edd5","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"RW/0136/Command","style":"","onvalue":"BuzOn","onvalueType":"str","onicon":"","oncolor":"","offvalue":"BuzOff","offvalueType":"str","officon":"","offcolor":"","x":450,"y":940,"wires":[[]]},{"id":"fc76d3e2.347ce","type":"function","z":"a0ed22c6.6081a","name":"Split16","func":"var p = parseInt(msg.payload);\nvar m = [];\nfor (var i=0; i<16; i++) {\n    // test top bit and set corresponding payload\n    m[i] = {payload: ((p & 0x8000) ? true : false) };\n    p = p << 1; // divide by two and keep as an integer\n}\n\nreturn m;","outputs":"16","noerr":0,"x":450,"y":540,"wires":[[],[],[],[],[],[],[],[],[],[],["fa8addd9.73d33"],["1a4e5479.27356c"],["7e9f3f4b.8d0ce"],["fc52349d.50feb8"],["d40cfb4f.8642f8"],["442518e1.cd9688"]]},{"id":"a738cab.a1d6e38","type":"function","z":"a0ed22c6.6081a","name":"Split16","func":"var p = parseInt(msg.payload);\nvar m = [];\nfor (var i=0; i<16; i++) {\n    // test top bit and set corresponding payload\n    m[i] = {payload: ((p & 0x8000) ? true : false) };\n    p = p << 1; // divide by two and keep as an integer\n}\n\nreturn m;","outputs":"16","noerr":0,"x":450,"y":800,"wires":[[],[],[],[],[],[],[],[],[],["f33fcaae.513348"],["fddb1aed.78cf08"],["af189419.a72788"],["40dec722.f46e38"],["ab232a34.555458"],["b640b69e.4e35a8"],["95cedd17.8cb01"]]},{"id":"fa8addd9.73d33","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI6","order":6,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">6</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"x":710,"y":440,"wires":[[]]},{"id":"4f422b42.32bdd4","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"Mains Volts","format":"{{msg.payload}} Vac","layout":"row-spread","x":730,"y":180,"wires":[]},{"id":"24f8eaaa.7eb9c6","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}} °C","layout":"row-spread","x":710,"y":220,"wires":[]},{"id":"8cbabb91.43a808","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"AI1","format":"{{msg.payload}}","layout":"row-spread","x":711,"y":259,"wires":[]},{"id":"4b9edc44.541f64","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"AI2","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]},{"id":"c0e7a3ff.5314b","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"AI3","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":340,"wires":[]},{"id":"1a6280b5.cbcb5f","type":"ui_text","z":"a0ed22c6.6081a","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"name":"","label":"AI4","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":380,"wires":[]},{"id":"1a4e5479.27356c","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI5","order":5,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">5</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"x":710,"y":480,"wires":[[]]},{"id":"7e9f3f4b.8d0ce","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI4","order":4,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">4</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"x":710,"y":520,"wires":[[]]},{"id":"fc52349d.50feb8","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI3","order":3,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">3</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"x":710,"y":560,"wires":[[]]},{"id":"d40cfb4f.8642f8","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI2","order":2,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">2</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"x":710,"y":600,"wires":[[]]},{"id":"442518e1.cd9688","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DI1","order":1,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DI</p>\n<p style=\"font-size:50%;text-align:center;\">1</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'transparrent':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":640,"wires":[[]]},{"id":"f711770e.d3c978","type":"debug","z":"a0ed22c6.6081a","name":"demo","active":false,"console":"false","complete":"true","x":730,"y":120,"wires":[]},{"id":"e1b60fa2.dd88e","type":"ui_chart","z":"a0ed22c6.6081a","name":"","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":710,"y":80,"wires":[[],[]]},{"id":"81f97e7a.0108","type":"ui_gauge","z":"a0ed22c6.6081a","name":"","group":"12a7094e.97eff7","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":40,"wires":[]},{"id":"1939d118.133a8f","type":"function","z":"a0ed22c6.6081a","name":"","func":"msg.payload = parseFloat(msg.payload,2);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["81f97e7a.0108","e1b60fa2.dd88e","24f8eaaa.7eb9c6"]]},{"id":"fddb1aed.78cf08","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO6","order":12,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">6</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":800,"wires":[[]]},{"id":"af189419.a72788","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO5","order":11,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #FF8633);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">5</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":820,"wires":[[]]},{"id":"40dec722.f46e38","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO4","order":10,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">4</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":840,"wires":[[]]},{"id":"ab232a34.555458","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO3","order":9,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">3</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":860,"wires":[[]]},{"id":"b640b69e.4e35a8","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO2","order":8,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">2</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":880,"wires":[[]]},{"id":"95cedd17.8cb01","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"DO1","order":7,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">DO</p>\n<p style=\"font-size:50%;text-align:center;\">1</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF8633':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":900,"wires":[[]]},{"id":"b67f84b1.1f7818","type":"ui_switch","z":"a0ed22c6.6081a","name":"","label":"Q6","group":"137acb2b.02edd5","order":6,"width":0,"height":0,"passthru":false,"topic":"RW/0136/Command","style":"","onvalue":"Q6on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Q6off","offvalueType":"str","officon":"","offcolor":"","x":450,"y":980,"wires":[[]]},{"id":"f33fcaae.513348","type":"ui_template","z":"a0ed22c6.6081a","group":"b9c48501.571178","name":"Buzzer","order":12,"width":"1","height":"2","format":"<!DOCTYPE html>\n\n<style>\n:focus {\noutline: 0;\n}\nmd-led2{\n    display: block;\n\tborder-radius:80px;\n\tborder:2px solid #666666;\n\twidth: 16px; \n\theight:16px;\n\tmargin: 5px 0px 0px 5px; \t\n\tbackground: -webkit-radial-gradient(#9AF589, #42B821);\n    text-align:center;\t\n }\n\n</style>\n<p style=\"font-size:50%;text-align:center;\"></p>\n<p style=\"font-size:50%;text-align:center;\">Buzzer</p>\n<md-led2\n    ng-style=\"{background: msg.payload=='1' ?'#FF3245':'#423f3f'}\"\n    ng-click=\"msg.payload = (msg.payload=='0' ? '1' : '0'); send(msg) \"\n>\n{{msg.payload == '0' ? '' : ''}}\n</md-led2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":780,"wires":[[]]},{"id":"911aba5.eefd148","type":"ui_gauge","z":"a0ed22c6.6081a","name":"","group":"3a0143bf.3078cc","order":0,"width":0,"height":0,"gtype":"wave","title":"Light Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":300,"wires":[]},{"id":"f316ce3b.9fc8","type":"function","z":"a0ed22c6.6081a","name":"","func":"msg.payload = parseFloat(msg.payload,2)/100;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["911aba5.eefd148"]]},{"id":"9e411a9c.d22778","type":"function","z":"a0ed22c6.6081a","name":"","func":"msg.payload = parseFloat(msg.payload,2)/100;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["c893bc98.0eaa5"]]},{"id":"d6ab4d16.d9083","type":"ui_gauge","z":"a0ed22c6.6081a","name":"","group":"3a0143bf.3078cc","order":0,"width":0,"height":0,"gtype":"wave","title":"Potentiometer","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":260,"wires":[]},{"id":"c893bc98.0eaa5","type":"range","z":"a0ed22c6.6081a","minin":"0","maxin":"40","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":990,"y":260,"wires":[["d6ab4d16.d9083"]]},{"id":"c6801bd0.2d0628","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 1","group":"9eb2c3fd.3de52","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q1on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q1off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":860,"wires":[["16e049c8.ee9216"]]},{"id":"5ac9ee0.b2c6e14","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 2","group":"9eb2c3fd.3de52","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q2on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q2off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":820,"wires":[["16e049c8.ee9216"]]},{"id":"e8959099.83595","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 3","group":"9eb2c3fd.3de52","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q3on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q3off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":780,"wires":[["16e049c8.ee9216"]]},{"id":"8d9e8505.69b508","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 4","group":"9eb2c3fd.3de52","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q4on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q4off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":740,"wires":[["16e049c8.ee9216"]]},{"id":"80928e0b.61456","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 5","group":"9eb2c3fd.3de52","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q5on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q5off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":700,"wires":[["16e049c8.ee9216"]]},{"id":"626fbb24.027e64","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Buzzer","group":"9eb2c3fd.3de52","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"BuzOn","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"BuzOff","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":620,"wires":[["16e049c8.ee9216"]]},{"id":"b43ae260.a362b","type":"ui_switch","z":"3c8f616a.294aae","name":"","label":"Output 6","group":"9eb2c3fd.3de52","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"RW/4070/Command","style":"","onvalue":"Q6on","onvalueType":"str","onicon":"check_box","oncolor":"DarkOrange","offvalue":"Q6off","offvalueType":"str","officon":"check_box_outline_blank","offcolor":"Grey","x":740,"y":660,"wires":[["16e049c8.ee9216"]]},{"id":"16e049c8.ee9216","type":"mqtt out","z":"3c8f616a.294aae","name":"","topic":"","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":930,"y":740,"wires":[]},{"id":"345b3a.7308a4c6","type":"function","z":"3c8f616a.294aae","name":"","func":"msg.payload = parseFloat(msg.payload,2)/100;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["5b343f7c.48678","75d1b24b.e849ac"]]},{"id":"2be5f2f7.35214e","type":"ui_template","z":"3c8f616a.294aae","group":"6e6d940e.d4d90c","name":"Input 1","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":400,"wires":[[]]},{"id":"326d1896.a285b8","type":"function","z":"3c8f616a.294aae","name":"","func":"if(msg.payload==1)\n{\n    msg.text = \"Input 1 - ON\";\n}\nelse\n{\n    msg.text = \"Input 1 - OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["2be5f2f7.35214e"]]},{"id":"dbd6ac8e.4d573","type":"ui_template","z":"3c8f616a.294aae","group":"6e6d940e.d4d90c","name":"Input 2","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":380,"wires":[[]]},{"id":"8ead9d26.f6ca6","type":"function","z":"3c8f616a.294aae","name":"","func":"if(msg.payload==1)\n{\n    msg.text = \"Input 2 - ON\";\n}\nelse\n{\n    msg.text = \"Input 2 - OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["dbd6ac8e.4d573"]]},{"id":"d23d8eb0.c2363","type":"ui_template","z":"3c8f616a.294aae","group":"6e6d940e.d4d90c","name":"Input 3","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":360,"wires":[[]]},{"id":"bee32fa2.ebf6e","type":"function","z":"3c8f616a.294aae","name":"","func":"if(msg.payload==1)\n{\n    msg.text = \"Input 3 - ON\";\n}\nelse\n{\n    msg.text = \"Input 3 - OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["d23d8eb0.c2363"]]},{"id":"1888b8b.35b1b47","type":"ui_template","z":"3c8f616a.294aae","group":"6e6d940e.d4d90c","name":"Input 4","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":340,"wires":[[]]},{"id":"9ba81656.bcf4a8","type":"function","z":"3c8f616a.294aae","name":"","func":"if(msg.payload==1)\n{\n    msg.text = \"Input 4 - ON\";\n}\nelse\n{\n    msg.text = \"Input 4 - OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["1888b8b.35b1b47"]]},{"id":"864e282e.b68f78","type":"debug","z":"3c8f616a.294aae","name":"","active":false,"console":"false","complete":"false","x":750,"y":900,"wires":[]},{"id":"290f9580.9ccc1a","type":"ui_toast","z":"3c8f616a.294aae","position":"top left","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1010,"y":520,"wires":[]},{"id":"79d4b909.a41a38","type":"rbe","z":"3c8f616a.294aae","name":"","func":"rbe","gap":"0.9","start":"","inout":"out","x":730,"y":520,"wires":[["f017267d.4c09e8"]]},{"id":"f017267d.4c09e8","type":"function","z":"3c8f616a.294aae","name":"","func":"if(msg.payload===true)\n{\n    msg.topic = \"Alarm Activated\";\n    msg.highlight = \"Red\";\n    msg.payload = \"Switch 1 Activated\";\n}\nelse\n{\n    msg.topic = \"Alarm Healthy\";\n    msg.highlight = \"Grey\";\n    msg.payload = \"Switch 1 Deactivated\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["290f9580.9ccc1a"]]},{"id":"1ec93ee5.c4c101","type":"range","z":"3c8f616a.294aae","minin":"4770","maxin":"0","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":410,"y":220,"wires":[["456e6b46.2a7244","2f307e8c.fadac2"]]},{"id":"98cf4d84.80bbd","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/T","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1000,"y":940,"wires":[]},{"id":"10625c10.fedc84","type":"openweathermap","z":"509a5f92.8b12d","name":"Weather","wtype":"current","lon":"","lat":"","city":"Johannesburg","country":"ZA","language":"en","x":240,"y":360,"wires":[["c9df3d0a.bb1ea","eb7b3293.2cf55","ba206eba.83a8a","637426a1.a26498","1166e2de.874e9d","33f6e0d9.d8507","9a51e44.0832918","e716d9ad.c361e8","6ac2556e.8347ac"]]},{"id":"1b11fb3c.4dfa05","type":"inject","z":"509a5f92.8b12d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":false,"x":90,"y":360,"wires":[["10625c10.fedc84"]]},{"id":"e336997d.bc3c78","type":"comment","z":"509a5f92.8b12d","name":"OpenWeatherMap","info":"username: remoteworx.sam@gmail.com\npassword: remoteworx1\n\nAPI Key: 765d5866a5fdd8fe41091b8fe720436a\nhttps://home.openweathermap.org/api_keys\n","x":110,"y":320,"wires":[]},{"id":"c9df3d0a.bb1ea","type":"function","z":"509a5f92.8b12d","name":"Temperature","func":"msg.payload = (msg.payload.tempc);\nmsg.topic = \"Ambient Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["8d4a292a.41b4d8","4b43eac9.b9fef4","2dac74e0.bf3f2c"]]},{"id":"8d4a292a.41b4d8","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":1,"width":0,"height":0,"name":"","label":"Ambient Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":880,"y":360,"wires":[]},{"id":"eb7b3293.2cf55","type":"function","z":"509a5f92.8b12d","name":"Humidity","func":"msg.payload = (msg.payload.humidity);\nmsg.topic = \"Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["85b06b5f.6c8918","b1665de.7c925a","31d8483a.7594e8"]]},{"id":"ba206eba.83a8a","type":"function","z":"509a5f92.8b12d","name":"Windspeed","func":"msg.payload = (msg.payload.windspeed);\nmsg.topic = \"Wind Speed\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["1f0f59dd.bc7af6","40faf650.abf458"]]},{"id":"85b06b5f.6c8918","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":840,"y":400,"wires":[]},{"id":"1f0f59dd.bc7af6","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":4,"width":0,"height":0,"name":"","label":"Windspeed","format":"{{msg.payload}} m/s","layout":"row-spread","x":850,"y":440,"wires":[]},{"id":"637426a1.a26498","type":"function","z":"509a5f92.8b12d","name":"Clouds","func":"msg.payload = (msg.payload.clouds);\nmsg.topic = \"Cloud Coverage\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["7ebe8475.d9ed3c","49deab1d.4a4a04"]]},{"id":"7ebe8475.d9ed3c","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":3,"width":0,"height":0,"name":"","label":"Cloud Coverage","format":"{{msg.payload}} %","layout":"row-spread","x":860,"y":480,"wires":[]},{"id":"e40b6b59.f5cd68","type":"ui_chart","z":"509a5f92.8b12d","name":"","group":"7b203803.13cf98","order":5,"width":0,"height":0,"label":"Ambient Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#00b500","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":620,"y":1300,"wires":[["690048c1.2ca878"],[]]},{"id":"dc09eed5.0c29c","type":"mqtt in","z":"509a5f92.8b12d","name":"CenturyStatus","topic":"GW/gw2E2C3AE83E8080/1/STS","qos":"0","broker":"a36e95f5.15ce48","x":90,"y":140,"wires":[["2078a793.f9a218","62c4cbd1.32d244"]]},{"id":"2078a793.f9a218","type":"json","z":"509a5f92.8b12d","name":"","pretty":false,"x":270,"y":140,"wires":[["91d5b862.131368"]]},{"id":"91d5b862.131368","type":"function","z":"509a5f92.8b12d","name":"Map","func":"OverTemp = msg.payload.A.Tr_Th;\nUnderTemp = msg.payload.A.Tr_Te;\nDryBurn = msg.payload.A.Tr_DR;\nContactor = msg.payload.A.Tr_CS;\nPCBTemp = msg.payload.A.Tr_PCB;\nScale = msg.payload.A.Tr_Sc;\nAnode = msg.payload.A.Tr_An;\nDripTray = msg.payload.A.Tr_DT;\nACOn = msg.payload.O.AC;\nPVOn = msg.payload.O.PV;\n\nvar output\t= [\n\t\t\t\t{\"text\":\"Over temperature > 75°C\",\"payload\":OverTemp},\n\t\t\t\t{\"text\":\"Temperature < -15°C\",\"payload\":UnderTemp},\n\t\t\t\t{\"text\":\"Dry run trip\",\"payload\":DryBurn},\n\t\t\t\t{\"text\":\"Contactor safety trip\",\"payload\":Contactor},\n\t\t\t\t{\"text\":\"Power PCB trip\",\"payload\":PCBTemp},\n\t\t\t\t{\"text\":\"Scale build-up alarm\",\"payload\":Scale},\n\t\t\t\t{\"text\":\"Sacrificial anode alarm\",\"payload\":Anode},\n\t\t\t\t{\"text\":\"Drip tray detection alarm\",\"payload\":DripTray},\n\t\t\t\t{\"text\":\"AC Power ON\",\"payload\":ACOn},\n\t\t\t\t{\"text\":\"PV Power ON\",\"payload\":PVOn}\n\t\t\t];\nreturn output;","outputs":"10","noerr":0,"x":410,"y":140,"wires":[["4501ff8.30749"],["b9cab049.03d3e"],["607c3bb5.d1b234"],["a885f426.f9cb88"],["a110cd1d.9eb5"],["8a725c57.8a9ed"],["9bd4b09b.ae3c8"],["74a74b36.acf664"],["c55ffd41.e367a"],["10d0a7cb.45ba18"]]},{"id":"4501ff8.30749","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":80,"wires":[[]]},{"id":"b9cab049.03d3e","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":100,"wires":[[]]},{"id":"607c3bb5.d1b234","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":120,"wires":[[]]},{"id":"a885f426.f9cb88","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":140,"wires":[[]]},{"id":"a110cd1d.9eb5","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":160,"wires":[[]]},{"id":"8a725c57.8a9ed","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":180,"wires":[[]]},{"id":"9bd4b09b.ae3c8","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":200,"wires":[[]]},{"id":"74a74b36.acf664","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'Orange' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":220,"wires":[[]]},{"id":"c55ffd41.e367a","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":240,"wires":[[]]},{"id":"10d0a7cb.45ba18","type":"ui_template","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","name":"Status","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\"{background: msg.payload == '1' ? 'DeepSkyBlue' : 'grey'}\"\n            ng-bind-html=\"msg.text\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":260,"wires":[[]]},{"id":"6cb8e36c.b7763c","type":"comment","z":"509a5f92.8b12d","name":"Notes:","info":"Daily Averages\n\n_geyserTestData_","x":70,"y":40,"wires":[]},{"id":"40b939bb.8859e8","type":"comment","z":"509a5f92.8b12d","name":"KPI's","info":"","x":70,"y":620,"wires":[]},{"id":"736b5f04.e5c82","type":"ui_text","z":"509a5f92.8b12d","group":"f80cafc3.97786","order":3,"width":0,"height":0,"name":"","label":"AC Power","format":"{{msg.payload | number:1}} A","layout":"row-spread","x":380,"y":640,"wires":[]},{"id":"b308028a.9b02e","type":"ui_text","z":"509a5f92.8b12d","group":"f80cafc3.97786","order":4,"width":0,"height":0,"name":"","label":"PV Power","format":"{{msg.payload | number:1}} A","layout":"row-spread","x":380,"y":680,"wires":[]},{"id":"6d7da7a8.fb4148","type":"ui_text","z":"509a5f92.8b12d","group":"f80cafc3.97786","order":5,"width":0,"height":0,"name":"","label":"Geyser Temperature","format":"{{msg.payload | number:1}} °C","layout":"row-spread","x":420,"y":720,"wires":[]},{"id":"772154f8.db992c","type":"link out","z":"509a5f92.8b12d","name":"Temperature","links":["870a761f.93e6b8"],"x":655,"y":940,"wires":[]},{"id":"870a761f.93e6b8","type":"link in","z":"509a5f92.8b12d","name":"","links":["772154f8.db992c"],"x":235,"y":720,"wires":[["6d7da7a8.fb4148"]]},{"id":"1c1b2107.f7aa1f","type":"link in","z":"509a5f92.8b12d","name":"","links":["da65dad.ad93328"],"x":235,"y":680,"wires":[["b308028a.9b02e"]]},{"id":"cf687d4.018eb8","type":"link in","z":"509a5f92.8b12d","name":"","links":["7dacc81c.3f61a8"],"x":235,"y":640,"wires":[["736b5f04.e5c82"]]},{"id":"62c4cbd1.32d244","type":"debug","z":"509a5f92.8b12d","name":"","active":false,"console":"false","complete":"false","x":250,"y":100,"wires":[]},{"id":"c70ac9cf.3ec4c8","type":"ui_text","z":"509a5f92.8b12d","group":"f80cafc3.97786","order":6,"width":0,"height":0,"name":"","label":"Inlet Temperature","format":"{{msg.payload | number:1}} °C","layout":"row-spread","x":410,"y":760,"wires":[]},{"id":"c73e10a1.0fa13","type":"link in","z":"509a5f92.8b12d","name":"","links":["fae4b38.e9d185"],"x":235,"y":760,"wires":[["c70ac9cf.3ec4c8"]]},{"id":"fae4b38.e9d185","type":"link out","z":"509a5f92.8b12d","name":"Inlet","links":["c73e10a1.0fa13"],"x":655,"y":980,"wires":[]},{"id":"e13080d0.d0bfe","type":"link out","z":"509a5f92.8b12d","name":"Radiation","links":["86f17e1b.c3409"],"x":655,"y":1020,"wires":[]},{"id":"bb9430e5.dafad","type":"ui_text","z":"509a5f92.8b12d","group":"f80cafc3.97786","order":7,"width":0,"height":0,"name":"","label":"Radiation","format":"{{msg.payload | number:1}} %","layout":"row-spread","x":380,"y":800,"wires":[]},{"id":"86f17e1b.c3409","type":"link in","z":"509a5f92.8b12d","name":"","links":["e13080d0.d0bfe"],"x":235,"y":800,"wires":[["bb9430e5.dafad"]]},{"id":"4c3d4b39.87b084","type":"mqtt in","z":"509a5f92.8b12d","name":"Data","topic":"GW/Century/Data","qos":"0","broker":"a36e95f5.15ce48","x":70,"y":900,"wires":[["59bc9989.225188"]]},{"id":"6c688641.942d58","type":"debug","z":"509a5f92.8b12d","name":"","active":false,"console":false,"complete":"true","x":350,"y":900,"wires":[]},{"id":"59bc9989.225188","type":"json","z":"509a5f92.8b12d","name":"","pretty":false,"x":210,"y":900,"wires":[["6c688641.942d58","c5bd0e5e.1c396","b24882c7.342d7","26222c96.2559d4","ce19c9d6.2b5738","7c96b8b9.0e87d8","63f249c7.f4fed8"]]},{"id":"c5bd0e5e.1c396","type":"function","z":"509a5f92.8b12d","name":"T G","func":"var T_G = msg.payload.T.G;\nmsg.payload = T_G;\nmsg.topic = \"Geyser Temperature\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"G: \"+T_G});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":940,"wires":[["df676784.0b6538","772154f8.db992c","98cf4d84.80bbd","4a645ccc.cf32c4"]]},{"id":"7c96b8b9.0e87d8","type":"function","z":"509a5f92.8b12d","name":"T2 G","func":"var T2_G = msg.payload.T2.G;\nmsg.payload = T2_G;\nmsg.topic = \"Inlet Temperature\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"T2: \"+T2_G});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["fae4b38.e9d185","4be84141.3b49","4a645ccc.cf32c4","220c3f89.6662a"]]},{"id":"ce19c9d6.2b5738","type":"function","z":"509a5f92.8b12d","name":"IRR","func":"var IRR_R = msg.payload.R.IRR;\nmsg.payload = IRR_R;\nmsg.topic = \"Radiation\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"IRR: \"+IRR_R});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1020,"wires":[["e6da08f1.a8f8d8"]]},{"id":"26222c96.2559d4","type":"function","z":"509a5f92.8b12d","name":"I AC","func":"var I_AC = msg.payload.I.AC;\n\nmsg.payload = I_AC;\nmsg.topic = \"Amps AC\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"AC: \"+I_AC});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1060,"wires":[["7dacc81c.3f61a8","4a645ccc.cf32c4","a27d9314.7d8b"]]},{"id":"b24882c7.342d7","type":"function","z":"509a5f92.8b12d","name":"I PV","func":"var I_PV = msg.payload.I.PV;\n\nmsg.payload = (I_PV);\nmsg.topic = \"Amps PV\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"PV: \"+I_PV});\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["da65dad.ad93328","4a645ccc.cf32c4","aca38fde.77665"]]},{"id":"e6da08f1.a8f8d8","type":"range","z":"509a5f92.8b12d","minin":"-10","maxin":"1500","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":490,"y":1020,"wires":[["e13080d0.d0bfe","4a645ccc.cf32c4","b123c55.3010e38"]]},{"id":"df676784.0b6538","type":"ui_gauge","z":"509a5f92.8b12d","name":"","group":"f80cafc3.97786","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value | number:1}}","min":0,"max":"100","colors":["#0080ff","#00b538","#ff8000"],"seg1":"50","seg2":"70","x":770,"y":940,"wires":[]},{"id":"7dacc81c.3f61a8","type":"link out","z":"509a5f92.8b12d","name":"W_AC","links":["cf687d4.018eb8"],"x":655,"y":1060,"wires":[]},{"id":"da65dad.ad93328","type":"link out","z":"509a5f92.8b12d","name":"W_PV","links":["1c1b2107.f7aa1f"],"x":655,"y":1100,"wires":[]},{"id":"716a724f.00f25c","type":"comment","z":"509a5f92.8b12d","name":"Geyser Data","info":"","x":90,"y":860,"wires":[]},{"id":"45fdef71.9d907","type":"inject","z":"4a5b36ea.ecf818","name":"Hourly backup","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":140,"y":120,"wires":[["6667f014.55487"]]},{"id":"6667f014.55487","type":"function","z":"4a5b36ea.ecf818","name":"Prep data","func":"// global variables separated by semicolon to be saved\nvar globallist = \"Pt_Raw_I2AC;Pt_Raw_I2PV;Pt_Raw_I2AC_Prev;Pt_Raw_I2PV_Prev;Pt_Raw_I2AC_Today;Pt_Raw_I2PV_Today;totalkWh\";\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n\n//msg.payload=typeof global.get(\"torrent_keywords\");\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["ec010051.04574"]]},{"id":"d1a33723.208e98","type":"comment","z":"4a5b36ea.ecf818","name":"Save global variables","info":"","x":120,"y":40,"wires":[]},{"id":"285b277e.e15d98","type":"comment","z":"4a5b36ea.ecf818","name":"Restore global variables","info":"","x":120,"y":240,"wires":[]},{"id":"6d6fd42e.f5eaac","type":"inject","z":"4a5b36ea.ecf818","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["b156f0fd.b1055"]]},{"id":"9ca9bccb.9de8c","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"C:/global.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":640,"y":120,"wires":[]},{"id":"b156f0fd.b1055","type":"file in","z":"4a5b36ea.ecf818","name":"","filename":"C:/global.json","format":"utf8","sendError":true,"x":320,"y":320,"wires":[["cd244c39.3be4a"]]},{"id":"422c33e9.8d498c","type":"function","z":"4a5b36ea.ecf818","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["a65f8496.cb8368"]]},{"id":"ec010051.04574","type":"json","z":"4a5b36ea.ecf818","name":"","x":470,"y":120,"wires":[["9ca9bccb.9de8c","2e4c389e.3952b8"]]},{"id":"cd244c39.3be4a","type":"json","z":"4a5b36ea.ecf818","name":"","x":490,"y":320,"wires":[["422c33e9.8d498c"]]},{"id":"2e4c389e.3952b8","type":"debug","z":"4a5b36ea.ecf818","name":"","active":false,"console":false,"complete":"true","x":610,"y":100,"wires":[]},{"id":"d6414e.85a4feb","type":"inject","z":"4a5b36ea.ecf818","name":"trigger","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["c29bfc23.aecbe"]]},{"id":"c29bfc23.aecbe","type":"function","z":"4a5b36ea.ecf818","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["519784eb.0d5abc"]]},{"id":"519784eb.0d5abc","type":"debug","z":"4a5b36ea.ecf818","name":"show","active":false,"console":"false","complete":"payload","x":570,"y":180,"wires":[]},{"id":"e040a826.72f338","type":"inject","z":"4a5b36ea.ecf818","name":"delete var","topic":"all","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["a16021dd.f68f"]]},{"id":"a16021dd.f68f","type":"function","z":"4a5b36ea.ecf818","name":"delete vars from global.context","func":"// Delete vars\nif(msg.topic!==\"\"){ \n\tif(msg.topic.toLowerCase() == \"all\"){\n\t\tfor(var index in context.global) { \n\t\t\tdelete context.global[index];\n\t\t}\n\t} else {\n\t\tfor(var index in context.global) { \n\t\t\tif(index == msg.topic){\n\t\t\t\tdelete context.global[index];\n\t\t\t}\n\t\t}\n\t}\n}","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["519784eb.0d5abc"]]},{"id":"a65f8496.cb8368","type":"debug","z":"4a5b36ea.ecf818","name":"","active":false,"console":false,"complete":"true","x":790,"y":320,"wires":[]},{"id":"26feca58.4baf06","type":"start-up-trigger","z":"4a5b36ea.ecf818","x":120,"y":360,"wires":[["b156f0fd.b1055"]]},{"id":"35ac9b38.0c6174","type":"file in","z":"4a5b36ea.ecf818","name":".json","filename":"C:\\Windows\\System32\\config\\systemprofile\\.node-red\\flows_samworx.json","format":"utf8","sendError":true,"x":430,"y":420,"wires":[["bf2ff222.1d3f3"]]},{"id":"4e5d27c.76e0ad8","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":750,"y":420,"wires":[]},{"id":"bf2ff222.1d3f3","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.filename = \"C:/Users/Administrator/Dropbox/samworx/Backup/_Backup\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_vps.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["4e5d27c.76e0ad8"]]},{"id":"b780fa2d.b006c8","type":"file in","z":"4a5b36ea.ecf818","name":"cred.json","filename":"C:\\Windows\\System32\\config\\systemprofile\\.node-red\\flows_samworx_cred.json","format":"utf8","sendError":true,"x":440,"y":460,"wires":[["15f7321d.7694fe"]]},{"id":"be6e278a.497308","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":750,"y":460,"wires":[]},{"id":"15f7321d.7694fe","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.filename = \"C:/Users/Administrator/Dropbox/samworx/Backup/_Backup\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_vps_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["be6e278a.497308"]]},{"id":"c1aa153c.e99ad8","type":"inject","z":"4a5b36ea.ecf818","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":150,"y":680,"wires":[["fe9d4c69.b783a"]]},{"id":"fe9d4c69.b783a","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.timestamp= new Date().toISOString()\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}\nmsg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nmsg.payload=msg.timestamp;\nmsg2=[];\nmsg2.payload=\"test\";\n\nvar msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:year };\nvar msg3 = { payload:month };\nvar msg4 = { payload:day };\n\nvar msg5 = { payload:hour };\nvar msg6 = { payload:minute };\n\nreturn [msg,msg2,msg3,msg4,msg5,msg6];\n\n\n","outputs":"6","noerr":0,"x":370,"y":680,"wires":[["c5a07cef.b4b88"],[],[],[],[],[]]},{"id":"c5a07cef.b4b88","type":"debug","z":"4a5b36ea.ecf818","name":"","active":false,"console":"false","complete":"false","x":610,"y":680,"wires":[]},{"id":"66e0a30.2ecce5c","type":"file in","z":"4a5b36ea.ecf818","name":"config.json","filename":"C:\\Windows\\System32\\config\\systemprofile\\.node-red\\.config.json","format":"utf8","sendError":true,"x":450,"y":500,"wires":[["b80fd96c.e98ea8"]]},{"id":"b80fd96c.e98ea8","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.filename = \"C:/Users/Administrator/Dropbox/samworx/Backup/_Backup\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_.config.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["176a3b0e.adaf95"]]},{"id":"176a3b0e.adaf95","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":750,"y":500,"wires":[]},{"id":"733b0131.ae132","type":"ui_button","z":"4a5b36ea.ecf818","name":"","group":"668c9e9f.3436f","order":0,"width":0,"height":0,"passthru":false,"label":"Backup Flows","color":"","bgcolor":"","icon":"settings","payload":"","payloadType":"str","topic":"","x":120,"y":580,"wires":[["35ac9b38.0c6174","b780fa2d.b006c8","66e0a30.2ecce5c","7c7d45c1.ba1a9c","55b0b37d.643b8c"]]},{"id":"7c7d45c1.ba1a9c","type":"file in","z":"4a5b36ea.ecf818","name":"package.json","filename":"C:\\Windows\\System32\\config\\systemprofile\\.node-red\\package.json","format":"utf8","sendError":true,"x":450,"y":540,"wires":[["ddfce444.7bc9d8"]]},{"id":"ddfce444.7bc9d8","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.filename = \"C:/Users/Administrator/Dropbox/samworx/Backup/_Backup\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_.package.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["84d64c2e.78bf4"]]},{"id":"84d64c2e.78bf4","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":750,"y":540,"wires":[]},{"id":"afcc014e.13f5","type":"ui_button","z":"4a5b36ea.ecf818","name":"","group":"668c9e9f.3436f","order":0,"width":0,"height":0,"passthru":false,"label":"Backup Globals","color":"","bgcolor":"","icon":"settings","payload":"","payloadType":"str","topic":"","x":120,"y":80,"wires":[["6667f014.55487"]]},{"id":"75e801ef.50091","type":"ui_button","z":"4a5b36ea.ecf818","name":"","group":"668c9e9f.3436f","order":0,"width":0,"height":0,"passthru":false,"label":"Restore Globals","color":"","bgcolor":"","icon":"settings","payload":"","payloadType":"str","topic":"","x":120,"y":280,"wires":[["b156f0fd.b1055"]]},{"id":"89547112.ef81c","type":"ui_template","z":"4a5b36ea.ecf818","group":"f80cafc3.97786","name":"Clock","order":2,"width":"6","height":"1","format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p/>');\n        \n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(new Date().toLocaleString(\"en-ZA\")); \n        }\n\n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":750,"y":20,"wires":[[]]},{"id":"4b43eac9.b9fef4","type":"smooth","z":"509a5f92.8b12d","name":"","action":"mean","count":"2","round":"1","mult":"single","x":580,"y":360,"wires":[["4b6250eb.872ff"]]},{"id":"b1665de.7c925a","type":"smooth","z":"509a5f92.8b12d","name":"","action":"mean","count":"2","round":"1","mult":"single","x":580,"y":400,"wires":[["4b6250eb.872ff"]]},{"id":"55b0b37d.643b8c","type":"file in","z":"4a5b36ea.ecf818","name":"settings.js","filename":"C:\\Users\\Administrator\\.node-red\\settings.js","format":"utf8","sendError":true,"x":440,"y":580,"wires":[["361a4876.786758"]]},{"id":"361a4876.786758","type":"function","z":"4a5b36ea.ecf818","name":"","func":"msg.filename = \"C:/Users/Administrator/Dropbox/samworx/Backup/_Backup\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_settings.js\";\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["c6e027ef.a1eb28"]]},{"id":"c6e027ef.a1eb28","type":"file","z":"4a5b36ea.ecf818","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":750,"y":580,"wires":[]},{"id":"690048c1.2ca878","type":"json","z":"509a5f92.8b12d","name":"","x":790,"y":1300,"wires":[["d47825f7.32cf08"]]},{"id":"fdfafe80.8f192","type":"json","z":"509a5f92.8b12d","name":"","x":790,"y":1260,"wires":[["b3bb53f4.7856d"]]},{"id":"98401540.364348","type":"ui_button","z":"509a5f92.8b12d","name":"","group":"668c9e9f.3436f","order":3,"width":"0","height":"0","passthru":false,"label":"Save Charts","color":"","bgcolor":"","icon":"fa-file","payload":"","payloadType":"str","topic":"save","x":770,"y":1200,"wires":[["d47825f7.32cf08","b3bb53f4.7856d"]]},{"id":"5f72edb5.ae7974","type":"inject","z":"509a5f92.8b12d","name":"","topic":"save","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":750,"y":1340,"wires":[["d47825f7.32cf08","b3bb53f4.7856d"]]},{"id":"d47825f7.32cf08","type":"function","z":"509a5f92.8b12d","name":"Save","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":950,"y":1300,"wires":[["5e404c7a.3ab564"]]},{"id":"b3bb53f4.7856d","type":"function","z":"509a5f92.8b12d","name":"Save","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":950,"y":1260,"wires":[["3060c6cc.45797a"]]},{"id":"5e404c7a.3ab564","type":"file","z":"509a5f92.8b12d","name":"File","filename":"C:\\Backup\\chartWeather.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1090,"y":1300,"wires":[]},{"id":"3060c6cc.45797a","type":"file","z":"509a5f92.8b12d","name":"File","filename":"C:\\Backup\\chartGeyserData.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1090,"y":1260,"wires":[]},{"id":"dc7c8c63.96bd9","type":"ui_button","z":"509a5f92.8b12d","name":"","group":"668c9e9f.3436f","order":4,"width":"0","height":"0","passthru":false,"label":"Restore Charts","color":"","bgcolor":"","icon":"fa-refresh","payload":"","payloadType":"str","topic":"","x":100,"y":1260,"wires":[["696ff7aa.8aedb8","f11eecad.6b781"]]},{"id":"696ff7aa.8aedb8","type":"file in","z":"509a5f92.8b12d","name":"File","filename":"C:\\Backup\\chartWeather.json","format":"utf8","sendError":true,"x":290,"y":1300,"wires":[["1513986e.f5e058"]]},{"id":"1513986e.f5e058","type":"json","z":"509a5f92.8b12d","name":"","x":430,"y":1300,"wires":[["e40b6b59.f5cd68"]]},{"id":"f11eecad.6b781","type":"file in","z":"509a5f92.8b12d","name":"File","filename":"C:\\Backup\\chartGeyserData.json","format":"utf8","sendError":true,"x":290,"y":1260,"wires":[["ccd0a163.444b3"]]},{"id":"ccd0a163.444b3","type":"json","z":"509a5f92.8b12d","name":"","x":430,"y":1260,"wires":[[]]},{"id":"6cf641b0.87f33","type":"start-up-trigger","z":"509a5f92.8b12d","x":100,"y":1300,"wires":[["f11eecad.6b781","696ff7aa.8aedb8"]]},{"id":"800bca04.c99aa8","type":"link in","z":"509a5f92.8b12d","name":"chartTemperature","links":["4b6250eb.872ff"],"x":455,"y":1340,"wires":[["e40b6b59.f5cd68"]]},{"id":"4b6250eb.872ff","type":"link out","z":"509a5f92.8b12d","name":"","links":["800bca04.c99aa8"],"x":715,"y":380,"wires":[]},{"id":"4be84141.3b49","type":"ui_gauge","z":"509a5f92.8b12d","name":"","group":"f80cafc3.97786","order":1,"width":"4","height":"3","gtype":"gage","title":"Inlet Temperature","label":"°C","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b538","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":790,"y":980,"wires":[]},{"id":"f92b5afc.1420c8","type":"ui_gauge","z":"509a5f92.8b12d","name":"","group":"f80cafc3.97786","order":1,"width":"3","height":"3","gtype":"gage","title":"Heatsink","label":"°C","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b538","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":760,"y":1140,"wires":[]},{"id":"63f249c7.f4fed8","type":"function","z":"509a5f92.8b12d","name":"T PCB","func":"var T_G = msg.payload.T.PCB;\nmsg.payload = T_G;\nmsg.topic = \"Heatsink Temperature\";\nnode.status({fill:\"green\",shape:\"ring\",text:\"PCB: \"+T_G});\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1140,"wires":[["f92b5afc.1420c8","26034057.2bf28"]]},{"id":"1166e2de.874e9d","type":"function","z":"509a5f92.8b12d","name":"Sunrise","func":"var time1 = new Date(0);\ntime1.setUTCSeconds(msg.payload.sunrise);\nmsg.payload = time1;\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":440,"wires":[["63233b83.686804"]]},{"id":"33f6e0d9.d8507","type":"function","z":"509a5f92.8b12d","name":"Sunset","func":"var time1 = new Date(0);\ntime1.setUTCSeconds(msg.payload.sunset);\nmsg.payload = time1;\nreturn msg;\n","outputs":1,"noerr":0,"x":120,"y":480,"wires":[["946f7490.998318"]]},{"id":"7009fb0d.8d8314","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":6,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":520,"wires":[]},{"id":"9e7ad846.327d28","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":7,"width":0,"height":0,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":560,"wires":[]},{"id":"6ac2556e.8347ac","type":"debug","z":"509a5f92.8b12d","name":"","active":false,"console":"false","complete":"true","x":430,"y":320,"wires":[]},{"id":"f140de30.d2a06","type":"moment","z":"4a5b36ea.ecf818","name":"UTC-4","topic":"UTC-4","input":"payload","inputType":"msg","inTz":"etc/GMT-4","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd Do MMM YYYY HH:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"etc/GMT-4","x":470,"y":820,"wires":[["404bd5a6.00a90c"]]},{"id":"f660915d.c49a1","type":"inject","z":"4a5b36ea.ecf818","name":"2017-05-28T21:00:00-04:00","topic":"","payload":"2017-05-28T21:00:00-04:00","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":820,"wires":[["f140de30.d2a06","7a48579a.0e22c8","315d37f4.c58d58"]]},{"id":"404bd5a6.00a90c","type":"debug","z":"4a5b36ea.ecf818","name":"","active":false,"console":"false","complete":"false","x":790,"y":820,"wires":[]},{"id":"7a48579a.0e22c8","type":"moment","z":"4a5b36ea.ecf818","name":"UTC","topic":"UTC","input":"payload","inputType":"msg","inTz":"etc/GMT-4","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd Do MMM YYYY HH:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"etc/GMT","x":470,"y":860,"wires":[["404bd5a6.00a90c"]]},{"id":"315d37f4.c58d58","type":"moment","z":"4a5b36ea.ecf818","name":"UTC+10","topic":"UTC+10","input":"payload","inputType":"msg","inTz":"etc/GMT-4","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd Do MMM YYYY HH:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"etc/GMT+10","x":480,"y":900,"wires":[["404bd5a6.00a90c"]]},{"id":"cda6a219.f9237","type":"inject","z":"4a5b36ea.ecf818","name":"2017-05-28T21:00:00-04:00","topic":"","payload":"2017-05-28T21:00:00","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":900,"wires":[["315d37f4.c58d58","7a48579a.0e22c8","f140de30.d2a06"]]},{"id":"63233b83.686804","type":"moment","z":"509a5f92.8b12d","name":"UTC+2","topic":"UTC+2","input":"payload","inputType":"msg","inTz":"Africa/Johannesburg","adjAmount":"0","adjType":"hours","adjDir":"add","format":"HH:mm","locale":"en_GB","output":"sunrise","outputType":"msg","outTz":"Africa/Johannesburg","x":260,"y":440,"wires":[["e8a51982.456968"]]},{"id":"946f7490.998318","type":"moment","z":"509a5f92.8b12d","name":"UTC+2","topic":"UTC+2","input":"payload","inputType":"msg","inTz":"Africa/Johannesburg","adjAmount":"0","adjType":"hours","adjDir":"add","format":"HH:mm","locale":"en_GB","output":"sunset","outputType":"msg","outTz":"Africa/Johannesburg","x":260,"y":480,"wires":[["e8a51982.456968"]]},{"id":"9a51e44.0832918","type":"function","z":"509a5f92.8b12d","name":"Sunrise","func":"msg.payload = global.get(\"sunrise\");\nmsg.topic = \"Sunrise\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["7009fb0d.8d8314","b2d5128c.29a6b"]]},{"id":"e716d9ad.c361e8","type":"function","z":"509a5f92.8b12d","name":"Sunset","func":"msg.payload = global.get(\"sunset\");\nmsg.topic = \"Sunset\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":560,"wires":[["9e7ad846.327d28","e0ceffc6.6c4af"]]},{"id":"2dac74e0.bf3f2c","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Ambient","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1100,"y":360,"wires":[]},{"id":"31d8483a.7594e8","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Humidity","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1100,"y":400,"wires":[]},{"id":"40faf650.abf458","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Windspeed","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1110,"y":440,"wires":[]},{"id":"49deab1d.4a4a04","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Clouds","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1100,"y":480,"wires":[]},{"id":"b2d5128c.29a6b","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Sunrise","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1100,"y":520,"wires":[]},{"id":"e0ceffc6.6c4af","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Weather/Sunset","qos":"0","retain":"false","broker":"a36e95f5.15ce48","x":1100,"y":560,"wires":[]},{"id":"97710b6b.7f1c48","type":"json","z":"509a5f92.8b12d","name":"","pretty":false,"x":230,"y":1480,"wires":[["a6ffe22.7bc8d2","33e43cb0.76c284","6549f9cd.2907b8","ac40a6cc.48a2c8"]]},{"id":"a6ffe22.7bc8d2","type":"function","z":"509a5f92.8b12d","name":"Total kW","func":"var AC;\nvar PV;\n\nAC = msg.payload.TotalAC;\nPV = msg.payload.TotalPV;\n\noutput\t=\t[\n\t\t\t\t{ payload:AC },\n\t\t\t\t{ payload:PV }\n\t\t\t];\nnode.status({fill:\"green\",shape:\"ring\",text:\"AC: \"+AC+\", PV:\"+ PV});\n\nreturn output;","outputs":"2","noerr":0,"x":380,"y":1480,"wires":[["a17aa0b1.7de0f","45f17f1f.3bcf6"],["29662380.1eec9c","358e33c4.fa38ac"]]},{"id":"a17aa0b1.7de0f","type":"ui_text","z":"509a5f92.8b12d","group":"328691c1.b5995e","order":3,"width":0,"height":0,"name":"","label":"Total AC Power","format":"{{msg.payload | number:2}} kW","layout":"row-spread","x":580,"y":1460,"wires":[]},{"id":"29662380.1eec9c","type":"ui_text","z":"509a5f92.8b12d","group":"328691c1.b5995e","order":4,"width":0,"height":0,"name":"","label":"Total PV Power","format":"{{msg.payload | number:2}} kW","layout":"row-spread","x":580,"y":1480,"wires":[]},{"id":"442f8682.8275f8","type":"mqtt in","z":"509a5f92.8b12d","name":"","topic":"chartData","qos":"0","broker":"a36e95f5.15ce48","x":80,"y":1480,"wires":[["97710b6b.7f1c48"]]},{"id":"12fdcb6e.a310d5","type":"ui_text","z":"509a5f92.8b12d","group":"2a6d5f5f.e6614","order":0,"width":"7","height":"4","name":"Blank space","label":"","format":"","layout":"row-spread","x":770,"y":860,"wires":[]},{"id":"a573e083.0ad74","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":8,"width":"7","height":"3","name":"Blank space","label":"","format":"","layout":"row-spread","x":770,"y":900,"wires":[]},{"id":"53ba4f34.0d96a","type":"comment","z":"509a5f92.8b12d","name":"Geyser Charts","info":"","x":90,"y":1220,"wires":[]},{"id":"cc878ac7.2bac08","type":"comment","z":"509a5f92.8b12d","name":"Power Data","info":"","x":90,"y":1440,"wires":[]},{"id":"4a645ccc.cf32c4","type":"ui_chart","z":"509a5f92.8b12d","name":"","group":"328691c1.b5995e","order":1,"width":"21","height":"6","label":"Geyser","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#00c100","#d52828","#ff884f","#81aef3","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":1260,"wires":[["fdfafe80.8f192"],[]]},{"id":"3bd21a9b.c29396","type":"ui_chart","z":"509a5f92.8b12d","name":"","group":"328691c1.b5995e","order":2,"width":"21","height":"5","label":"kW Usage / day [AC:PV]","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00954a","#ff8040","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":1520,"wires":[[],[]]},{"id":"33e43cb0.76c284","type":"function","z":"509a5f92.8b12d","name":"Efficiency","func":"var Eff;\n\nEff = ((1-(msg.payload.TotalAC / msg.payload.TotalPV))*100).toFixed(2);\nnode.status({fill:\"green\",shape:\"ring\",text:\"Eff: \"+Eff});\nmsg.payload = Eff;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1560,"wires":[["88daa8b0.199d88"]]},{"id":"88daa8b0.199d88","type":"ui_text","z":"509a5f92.8b12d","group":"328691c1.b5995e","order":0,"width":0,"height":0,"name":"","label":"PV / AC Ratio","format":"{{msg.payload}} %","layout":"row-spread","x":580,"y":1560,"wires":[]},{"id":"6b252c4b.739834","type":"mqtt in","z":"509a5f92.8b12d","name":"","topic":"GW/#","qos":"0","broker":"a36e95f5.15ce48","x":280,"y":40,"wires":[["185385b7.bcf57a"]]},{"id":"185385b7.bcf57a","type":"debug","z":"509a5f92.8b12d","name":"","active":false,"console":"false","complete":"false","x":480,"y":40,"wires":[]},{"id":"220c3f89.6662a","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/Inlet","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1010,"y":980,"wires":[]},{"id":"b123c55.3010e38","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/IRR","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1010,"y":1020,"wires":[]},{"id":"aca38fde.77665","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/IPV","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1000,"y":1100,"wires":[]},{"id":"a27d9314.7d8b","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/IAC","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1010,"y":1060,"wires":[]},{"id":"26034057.2bf28","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/PCB","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":1010,"y":1140,"wires":[]},{"id":"45f17f1f.3bcf6","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/ACkW","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":790,"y":1460,"wires":[]},{"id":"358e33c4.fa38ac","type":"mqtt out","z":"509a5f92.8b12d","name":"","topic":"GW/Century/PVkW","qos":"0","retain":"true","broker":"a36e95f5.15ce48","x":790,"y":1480,"wires":[]},{"id":"6549f9cd.2907b8","type":"function","z":"509a5f92.8b12d","name":"% PV","func":"var Eff;\nvar totalAC;\nvar totalPV;\ntotalAC = parseFloat(msg.payload.TotalAC);\ntotalPV = parseFloat(msg.payload.TotalPV);\n\nEff = (totalPV / (totalAC+totalPV)*100).toFixed(2);\nnode.status({fill:\"green\",shape:\"ring\",text:\"Eff: \"+Eff});\nmsg.payload = Eff;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1600,"wires":[["f7963ee9.77005"]]},{"id":"f7963ee9.77005","type":"ui_text","z":"509a5f92.8b12d","group":"328691c1.b5995e","order":0,"width":0,"height":0,"name":"","label":"% PV usage","format":"{{msg.payload}} %","layout":"row-spread","x":570,"y":1600,"wires":[]},{"id":"c99f9581.671b68","type":"mqtt in","z":"509a5f92.8b12d","name":"","topic":"chartDataIRR","qos":"0","broker":"a36e95f5.15ce48","x":90,"y":1660,"wires":[["bc8a44e2.bfd358"]]},{"id":"bc8a44e2.bfd358","type":"json","z":"509a5f92.8b12d","name":"","pretty":false,"x":230,"y":1660,"wires":[["9b614e5d.5ed53"]]},{"id":"9b614e5d.5ed53","type":"function","z":"509a5f92.8b12d","name":"Daily IRR","func":"var out = [];\nout = msg.payload;\nvar IRRDay = [];\nvar PVDay = [];\nvar days = out.length;\n\n    IRRDay = out.IRR;\n    PVDay = out.PV;\n\nvar m={};\nm.labels = [\"05\",\"06\",\"07\",\"08\",\"09\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"21\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\"];\nm.series = ['IRR', 'PV'];\nm.data = [ IRRDay, PVDay ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":380,"y":1660,"wires":[["c467f.c659a981"]]},{"id":"c467f.c659a981","type":"debug","z":"509a5f92.8b12d","name":"","active":false,"console":"false","complete":"true","x":550,"y":1660,"wires":[]},{"id":"706ce3e7.d5dd7c","type":"comment","z":"509a5f92.8b12d","name":"R1.7636","info":"","x":170,"y":1560,"wires":[]},{"id":"e8a51982.456968","type":"debug","z":"509a5f92.8b12d","name":"","active":true,"console":"false","complete":"true","x":240,"y":540,"wires":[]},{"id":"ac40a6cc.48a2c8","type":"function","z":"509a5f92.8b12d","name":"Total Power","func":"msg.timestamp= new Date().toISOString();\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nvar logDate = year+\"-\"+month+\"-\"+day;\nvar logTime = hour+\":\"+minute+\":\"+second;\nvar out = [];\nout = msg.payload;\nvar ACDay = [];\nvar PVDay = [];\nvar labels = [];\nvar days = out.length;\nvar str = [];\n\n    labels = out.Labels;\n    ACDay = out.AC;\n    PVDay = out.PV;\n\nvar m={};\nm.labels = labels;\nm.series = ['AC', 'PV'];\nm.data = [ ACDay, PVDay ];\nnode.status({fill:\"green\",shape:\"ring\",text:\"Time: \"+logTime});\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":390,"y":1520,"wires":[["3bd21a9b.c29396","a0787b63.a4aa18"]]},{"id":"a0787b63.a4aa18","type":"debug","z":"509a5f92.8b12d","name":"","active":true,"console":"false","complete":"true","x":840,"y":1540,"wires":[]},{"id":"6acb3557.ef7efc","type":"mqtt in","z":"509a5f92.8b12d","name":"","topic":"GW/Century/avgIRR","qos":"0","broker":"a36e95f5.15ce48","x":390,"y":600,"wires":[["ad38d049.d6dfd"]]},{"id":"ad38d049.d6dfd","type":"ui_text","z":"509a5f92.8b12d","group":"7b203803.13cf98","order":7,"width":0,"height":0,"name":"","label":"Average Radiation","format":"{{msg.payload}} w/m²","layout":"row-spread","x":870,"y":600,"wires":[]},{"id":"223fcdd.f758532","type":"comment","z":"69f68a38.c261f4","name":"Tank 1","info":"","x":70,"y":20,"wires":[]},{"id":"3e91efcf.88344","type":"comment","z":"69f68a38.c261f4","name":"Tank 2","info":"","x":70,"y":520,"wires":[]},{"id":"41b525ff.398dfc","type":"function","z":"69f68a38.c261f4","name":"","func":"msg.payload = msg.count;\nglobal.set(\"level1\", msg.count);\nif(msg.count >= 95)\n{\n    global.set(\"direction\",0);\n}\nelse if(msg.count <= 1)\n{\n    global.set(\"direction\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["dd8b3094.70197"]]},{"id":"d32ee695.c7d598","type":"inject","z":"69f68a38.c261f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":60,"wires":[["195b0a10.5d36c6","6dee00d9.0ce81","e1129c49.cc729"]]},{"id":"dd8b3094.70197","type":"ui_gauge","z":"69f68a38.c261f4","name":"","group":"79f5ad3c.ac9194","order":0,"width":0,"height":0,"gtype":"wave","title":"Tank 1 Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":60,"wires":[]},{"id":"c720a6c2.502c58","type":"ui_gauge","z":"69f68a38.c261f4","name":"","group":"3ec832a0.aa4aae","order":0,"width":0,"height":0,"gtype":"wave","title":"Tank 2 Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":560,"wires":[]},{"id":"a42dd0f1.3a99b","type":"ui_template","z":"69f68a38.c261f4","group":"6236f929.f052c8","name":"Status","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\n                \"{background: msg.state == '1' ? 'green' : 'grey'}\"\n            ng-bind-html=\n                \"msg.payload\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":100,"wires":[[]]},{"id":"99c54c60.b3761","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"6236f929.f052c8","order":2,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"Grey","icon":"power_settings_new","payload":"true","payloadType":"bool","topic":"","x":410,"y":160,"wires":[["9c465e2.b64d1a"]]},{"id":"610bbce2.636054","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"6236f929.f052c8","order":3,"width":"3","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"Grey","icon":"power_settings_new","payload":"true","payloadType":"bool","topic":"","x":410,"y":200,"wires":[["9dd890df.51e68"]]},{"id":"ca73769.3ec2a88","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"6236f929.f052c8","order":4,"width":"3","height":"1","passthru":false,"label":"Auto","color":"","bgcolor":"Grey","icon":"settings_backup_restore","payload":"true","payloadType":"bool","topic":"","x":410,"y":240,"wires":[["f5012972.2cfdb8"]]},{"id":"2d0e9105.672d6e","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"6236f929.f052c8","order":5,"width":"3","height":"1","passthru":false,"label":"Manual","color":"","bgcolor":"Grey","icon":"pan_tool","payload":"true","payloadType":"bool","topic":"","x":420,"y":280,"wires":[["ca5f0a71.831738"]]},{"id":"75bf7f56.ff2c1","type":"counter","z":"69f68a38.c261f4","name":"","init":"0","step":"1","lower":"0","upper":"100","mode":"increment","outputs":"1","x":460,"y":60,"wires":[["41b525ff.398dfc","5091d853.2878c8"]]},{"id":"195b0a10.5d36c6","type":"function","z":"69f68a38.c261f4","name":"","func":"if((global.get(\"direction\")===0))\n{\n    if(global.get(\"auto\")===true)\n    {\n        msg.decrement = 2;\n    }\n    else\n    {\n        msg.decrement = 0;\n    }\n}\nelse\n{\n    if(global.get(\"auto\")===true)\n    {\n        msg.increment = 2;\n    }\n    else\n    {\n        msg.increment = 0;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["75bf7f56.ff2c1"]]},{"id":"b21f70a4.52116","type":"function","z":"69f68a38.c261f4","name":"","func":"if(msg.payload===true)\n{\n    var m =\n    {\n        state:      \"1\",\n        payload:    \"Pump Running\"\n    };\n}\nelse\n{\n    var m =\n    {\n        state:      \"0\",\n        payload:    \"Pump Stopped\"\n    };\n}\nreturn m;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["a42dd0f1.3a99b"]]},{"id":"6dee00d9.0ce81","type":"function","z":"69f68a38.c261f4","name":"","func":"if(global.get(\"direction\")===1)\n{\n    msg.payload = false;\n}\nelse\n{\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["b21f70a4.52116"]]},{"id":"f5012972.2cfdb8","type":"function","z":"69f68a38.c261f4","name":"","func":"if(msg.payload === true)\n{\n    global.set(\"auto\",true);\n    msg.state = \"1\";\n    msg.payload = \"Auto Mode\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["3a822477.56000c"]]},{"id":"ca5f0a71.831738","type":"function","z":"69f68a38.c261f4","name":"","func":"if(msg.payload === true)\n{\n    global.set(\"auto\",false);\n    msg.state = 0;\n    msg.payload = \"Manual Mode\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["3a822477.56000c"]]},{"id":"3a822477.56000c","type":"ui_template","z":"69f68a38.c261f4","group":"6236f929.f052c8","name":"Mode","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\n                \"{background: msg.state == '1' ? 'green' : 'grey'}\"\n            ng-bind-html=\n                \"msg.payload\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":260,"wires":[[]]},{"id":"9c465e2.b64d1a","type":"function","z":"69f68a38.c261f4","name":"","func":"if((global.get(\"auto\") === false) && (msg.payload === true))\n{\n    msg.state = \"1\";\n    msg.payload = \"Pump Running\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["a42dd0f1.3a99b"]]},{"id":"9dd890df.51e68","type":"function","z":"69f68a38.c261f4","name":"","func":"if((global.get(\"auto\") === false) && (msg.payload === true))\n{\n    msg.state = \"1\";\n    msg.payload = \"Pump Stopped\";\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["a42dd0f1.3a99b"]]},{"id":"5091d853.2878c8","type":"debug","z":"69f68a38.c261f4","name":"","active":false,"console":"false","complete":"true","x":610,"y":20,"wires":[]},{"id":"c6a905ab.77bd78","type":"function","z":"69f68a38.c261f4","name":"","func":"msg.payload = msg.count;\nglobal.set(\"level2\", msg.count);\nif(msg.count >= 98)\n{\n    global.set(\"direction2\",0);\n}\nelse if(msg.count <= 1)\n{\n    global.set(\"direction2\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":560,"wires":[["c720a6c2.502c58"]]},{"id":"dbccc9c5.b80fe8","type":"counter","z":"69f68a38.c261f4","name":"","init":"0","step":"1","lower":"0","upper":"100","mode":"increment","outputs":"1","x":460,"y":560,"wires":[["c6a905ab.77bd78"]]},{"id":"f02cc959.431218","type":"function","z":"69f68a38.c261f4","name":"","func":"if((global.get(\"direction2\")===0))\n{\n        msg.decrement = 2;\n}\nelse\n{\n        msg.increment = 2;\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["dbccc9c5.b80fe8"]]},{"id":"c3c5d6e4.7c8408","type":"inject","z":"69f68a38.c261f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":560,"wires":[["f02cc959.431218","c525abbb.6035c8"]]},{"id":"6d738299.0b767c","type":"ui_template","z":"69f68a38.c261f4","group":"79f5ad3c.ac9194","name":"Status","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\n                \"{background: msg.state == '1' ? 'red' : 'grey'}\"\n            ng-bind-html=\n                \"msg.payload\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":320,"wires":[[]]},{"id":"e1129c49.cc729","type":"function","z":"69f68a38.c261f4","name":"","func":"if(global.get(\"level1\")>=85)\n{\n    msg.state = 1;\n    msg.payload = \"Tank Level High\";\n}\nelse\n{\n    msg.state = 0;\n    msg.payload = \"Tank Level OK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["6d738299.0b767c"]]},{"id":"9be2c9fa.3f2558","type":"ui_template","z":"69f68a38.c261f4","group":"3ec832a0.aa4aae","name":"Status","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <body>\n        <div \n            style=\n                \"border: none;\n                color: white;\n                padding: 5px 5px;\n                text-align: center;\n                text-decoration: none;\n                display: inline-block;\n                font-size: 14px;\n                margin: 0px;\n                border-radius: 6px;\n                background-color: grey;\"\n            ng-style=\n                \"{background: msg.state == '1' ? 'red' : 'grey'}\"\n            ng-bind-html=\n                \"msg.payload\"\n        >\n        </div>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":600,"wires":[[]]},{"id":"c525abbb.6035c8","type":"function","z":"69f68a38.c261f4","name":"","func":"if(global.get(\"level2\")>=85)\n{\n    msg.state = 1;\n    msg.payload = \"Tank Level High\";\n}\nelse\n{\n    msg.state = 0;\n    msg.payload = \"Tank Level OK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":600,"wires":[["9be2c9fa.3f2558"]]},{"id":"3ab2fcc8.42c6c4","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"a716abcd.935d58","order":5,"width":"0","height":"0","passthru":false,"label":"Send Mail (Pump Tripped)","color":"","bgcolor":"Grey","icon":"fa-envelope","payload":"true","payloadType":"bool","topic":"","x":410,"y":360,"wires":[["c540f9fc.4b2138"]]},{"id":"c540f9fc.4b2138","type":"function","z":"69f68a38.c261f4","name":"Tripped","func":"msg.payload = \"Pump Tripped\";\nmsg.topic = \"Wine Farm Alarm\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["e8231c14.b57cf"]]},{"id":"2a90a41f.a73dac","type":"ui_button","z":"69f68a38.c261f4","name":"","group":"a716abcd.935d58","order":5,"width":"0","height":"0","passthru":false,"label":"Send Mail (Tank Level)","color":"","bgcolor":"Grey","icon":"fa-envelope","payload":"true","payloadType":"bool","topic":"","x":400,"y":400,"wires":[["3bfe2102.cd1d3e"]]},{"id":"3bfe2102.cd1d3e","type":"function","z":"69f68a38.c261f4","name":"Tripped","func":"msg.payload = \"Tank Level Critical\";\nmsg.topic = \"Wine Farm Alarm\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["e2276091.45126","e8231c14.b57cf"]]},{"id":"e8231c14.b57cf","type":"e-mail","z":"69f68a38.c261f4","server":"smtp.gmail.com","port":"465","secure":true,"name":"johankotze1@gmail.com","dname":"","x":1010,"y":360,"wires":[]},{"id":"e2276091.45126","type":"e-mail","z":"69f68a38.c261f4","server":"smtp.gmail.com","port":"465","secure":true,"name":"kemp@sam.co.za","dname":"","x":990,"y":400,"wires":[]}]